@font-face {
  font-family: 'RoadRage';
  src: url(../styles/font/road_rage/Road_Rage.otf);
}

@font-face{
  font-family: 'BlackAdder';
  src:url(../styles/font/black_adder/BITCBLKAD.ttf);
}

@font-face {
  font-family: 'Grunge';
  src: url(../styles/font/grunge_4/Grunge.ttf);
}

body {
  margin: 0;
  padding: 0;
}

.muddleFoot {
  height: auto;
}


.Image {
  width: 100%;
  height: 500px;
}

.footerMuddlefoot img{
  margin-top: -20px;
  margin-bottom: -40px;

}

/* BAGIAN NAVIGASI */
.bagianNav{
  background-color: black;
  font-family: "BlackAdder";
  font-size: 25px;
  margin-top: -50px;
  margin-bottom: -50px;
}

/* BAGIAN PAGE */
.bagianPage {

}


/* BAGIAN INTRO */
.bagianIntro {
  background-color: black;
  color: white;
  text-align: center;
}

.judulPage {
  font-family: "BlackAdder";
  font-size: 40px;
  font-weight: bold;
}

.introPage {
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* BAGIAN PROFIL */
.bagianProfil {
  background-color: black;
  padding-top: 20px;
  height: 350px;
  
}

.gambar p{
  text-align: center;
  font-family: "BlackAdder";
  font-size: 30px;
  color: white;
  padding-top: 20px;
}


.gambar img{
  width: 200px;
  height: 250px;
}

/* BAGIAN MUSIC */
.bagianMusic {
  font-family: "BlackAdder";
  color: white;
  text-align: center;
  background-color:black;
  /* background-position: center; 
  background-repeat: no-repeat;
  background-size:  1000px 600px;  */
  /* padding-top: 30px; */
  /* height: 650px;  */
}

.judulMusic {
  margin-top: 50px !important;
  margin-bottom: -20px;
}

.judulMusic h2{
  font-weight: bold;
}

.imageMusic img{
  width: 80%;
  height: 80%;
  padding-top: 10px;
  /* display: block; */
  margin-left: auto;
  margin-right: auto; 
  
}

.videoMusic {
  margin-top: -120px;
}


/* BAGIAN MERCH */
.bagianMerch {
  background-color: black;
  padding-top: 60px;
}


.bagianMerch h1 {
  font-family: 'BlackAdder';
  text-align: center;
  font-weight: bold;
}

.isianMerch {
  padding-top: 10px;
}

.bandMerch {
  padding-top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
}

.card-title {
  text-align: center;
  font-weight: bold !important;
} 


/* BAGIAN KONTAK */
.bagianContact {
  /* background: black; */
  /* padding-top: 70px;
  padding-bottom: 50px; */
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
  display: flex;
  height: 125vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

h2 {
  text-align: center;
  font-family: "BlackAdder";
  font-weight: bold !important;
}

.wrapper {
  background:black;
  color: white;
  width: 90%;
  padding: 2rem;
  /* box-shadow: black; */
}

form,input,textarea,button {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  font-size: initial !important;
  font-weight: bold !important;
}

.form-group label{
  display: block;
  margin: 2rem 0 0.5rem 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-group input {
  width: 100%;
  padding: 0.3rem 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  transition: border 0.15s;
}

.form-group textarea {
  width: 100%;
  padding: 1rem 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  transition: border 0.15s;
}

.form-group input [type="text"],
.form-group input [type="email"],{
  height: 4.6rem;
}


.form-group textarea{
  resize: vertical;
}


.submit {
  background-color:grey;
  align-items: center;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: background  0.15s;
}

.submit:hover {
  background: white;
  color: black;
}  

/* .form-group input [type="text"],
.form-group input [type="email"],
.form-group textarea:focus{
  border: 1px solid ;
} */

/*RESPONSIVE */

@media screen and ( min-width:576px)  {
  .wrapper{
    width: 70%;
  }
}

@media screen and ( min-width:786px)  {
  .wrapper{
    width: 55%;
  }
}

@media screen and ( min-width:992px)  {
  .wrapper{
    width: 45%;
  }
}

@media screen and ( min-width:1200px)  {
  .wrapper{
    width: 35%;
  }
}








/* BAGIAN FOOTER */
.bagianFooter {
  background-color: black;
  padding-top: 50px;
  text-align: center !important;
}

.isiFooter {
  font-family: "BlackAdder";
  font-size: 25px;
  justify-content: center;
}

.footerMedsos {
  justify-content: center;
}

.medsos{
  background-color: #B2B2B2;
  margin: 10px;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  overflow: hidden;
  position: relative;
  color: white !important;
  transition: 0.2s linear;
}

.medsos svg{
  transform: translateY(50%);
  font-size: 20px;
  line-height: 90px;
}

.medsos:hover svg{
  transform: scale(1.3);
  color:white;
}

.medsos::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  left: -110px;
  top:90%;
  transform: rotate(45deg);
  background:grey;
}

